<%= form_for @cohort do |f| %>
<p>
  <%= f.label :name %><br>
  <%= f.text_field :name%>
</p>
<p>
  <%= f.label :start_date %><br>
  <%= f.date_select :start_date%>
</p>
<p>
  <%= f.label :course_id %><br>
  <%= f.collection_select :course_id, Course.all, :id, :name%>
</p>
<p>
  <%= f.submit %>
</p>
<% end %>


date_select :cohort, :start_date %>