<h1>Current cohorts</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Start date</th>
    <th>Course_id</th>
    <th></th>
  </tr>

  <h2>Cohorts</h2>
  <% @cohorts.each do |cohort| %>
  <tr>
    <td><%= cohort.name %></td>
    <td><%= cohort.start_date %></td>
    <td><%= cohort.course.name %></td>
    <td><%= link_to 'Show', cohort %></td>
  </tr>
  <% end %>
</table>

<% if can? :manage, User %>
<%= link_to 'New Cohort', new_cohort_path, class: 'button'  %>
<% end %>