<h3>Current cohorts</h3>
<table>
  <tr>
    <th>Name</th>
    <th>Start date</th>
    <th>Course_id</th>
    <th></th>
  </tr>

<h3>Cohorts</h3>
<% @cohorts.each do |cohort| %>
  <tr>
    <td><%= cohort.name %></td>
    <td><%= cohort.start_date %></td>
    <td><%= cohort.course.name %></td>
    <td><%= link_to 'Show', cohort %></td>
  </tr>
<% end %>
</table>

<br/>
<% if can? :manage, User %>
<%= link_to 'New Cohort', new_cohort_path, class: 'button'  %>
<% end %>