<h1> <%= @cohort.name %> </h1>

<p>
 Course start date: <%= @cohort.start_date %>s
</p>

<table>
  <tr>
    <th>Name</th>
    <th>Role</th>
    <th>Email</th>
    <th></th>
  </tr>

  <h2>Users</h2>
  <% @cohort.students.each do |student| %>
  <tr>
    <td><%= student.name %></td>
    <td><%= student.role %></td>
    <td><%= student.email %></td>
    <td><%= link_to 'Show', student %></td>
  </tr>
  <% end %>
</table>
<%= link_to 'Enroll on this course', new_cohort_enrollment_path(@cohort), class: 'button' %>
<%= link_to 'Apply to teach on this course', new_cohort_contract_path(@cohort), class: 'button' %>

<% if can? :manage, User %>
 <%= link_to 'create new cohort', new_cohort_path, class: 'button'  %></td>
<% end %>
