<h2>
 Hi <%= @user.name %>, good to see you.<br>
</h2>
<p>
  <%= @user.role %><br>
</p>
<p>
  <%= @user.email %><br>
</p> 
<p>
  <b>Password digest:</b>
  <%= @user.password_digest %>
</p>

<h2> Courses you are enrolled on</h2>
<p>
  <% @user.studyings.each do |studying| %>
  <%= studying.name %>
  <%= studying.start_date %>
  <% end %>

  <br>
</p> 
<h2> Courses you are teaching on</h2>
<p>
  <% @user.teachings.each do |teaching| %>
<%= teaching.name %>
<%= teaching.start_date %>
<% end %>
</p> 

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<br><br>






