<div class= "title">
  <%= @user.name %><br>
</div>
<p>
  <%= @user.email %><br>
</p> 
<h2> Courses you are enrolled on</h2>
<p>
  <% @user.studyings.each do |studying| %>
  <%= link_to studying.name, studying %>
  <% end %>
</p> 
<br>
<h2> Courses you are teaching on</h2>
<p>
  <% @user.teachings.each do |teaching| %>
  <%= link_to teaching.name, teaching %>
  <% end %>
</p> 

<%= link_to 'Edit', edit_user_path(@user), class: 'button'  %> 
<%= link_to 'Back', users_path, class: 'button'  %>

<br><br>






