<h2> Hello Super User <h2>

    <ul class="left">
      <li><%= link_to "Users", users_path %></li>
      <li><%= link_to "Create new user", new_user_path %></li>
      <li><%= link_to "Courses", courses_path %></li>
      <li><%= link_to "Create new course", new_course_path %></li>
      <li><%= link_to "Cohorts", cohorts_path %></li>
      <li><%= link_to "Create new cohort", new_cohort_path %></li>
      <li><%= link_to "Classrooms", classrooms_path %></li>
     <li><%= link_to "Create new classrooms", new_classroom_path %></li>
     <br><br>
     <br><br>
     
     
     
