<p>
 Course name: <%= @course.name %><br>
</p>
<p>
 Course duration: <%= @course.duration %> months<br>
</p>
<p>
 Current cohorts: <% @course.cohorts.each do |cohort| %>
<%= cohort.name %>
<% end %>

<li><%= link_to 'Enroll on a course', new_enrollment_path %></li>

<li><%= link_to 'Apply to teach on a course', new_contract_path %></li>

<b><b>

