<p>
 Course name: <%= @course.name %><br>
</p>
<p>
 Course duration: <%= @course.duration %> months<br>
</p>
<p>
  Current cohorts: 
  <% @course.cohorts.each do |cohort| %>
    <%= link_to cohort.name, cohort %>
    <%= link_to 'Enroll on this course', new_cohort_enrollment_path(cohort) %>
    <%= link_to 'Apply to teach on this course', new_cohort_contract_path(cohort) %>
    <br>
  <% end %>
</p>

