<%= form_for [@cohort, @enrollment] do |f| %>
<% if @enrollment.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@enrollment.errors.count, "error") %> prohibited this user from being saved:</h2>
    <ul>
    <% @enrollment.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= month_calendar do |date| %>
  <%= date %>
<% end %>

<%= week_calendar number_of_weeks: 2 do |date| %>
  <%= date %>
<% end %>

<%= calendar number_of_days: 4 do |date| %>
  <%= date %>
<% end %>

<p>
  <%= f.label :start_date %><br>
  <%= f.text_field :start_date%>
</p>
<p>
  <%= f.label :pre_work %><br>
  <%= f.text_area :pre_work%>
</p>

<p>
  <%= f.submit %>
</p>
<% end %>

