<%= form_for [@cohort, @enrollment] do |f| %>
  <% if @enrollment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@enrollment.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% @enrollment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class= "field">
    <%= f.label :start_date %>
    <%= f.text_field :start_date%>
  </div>
  <div class= "field">
    <%= f.label :pre_work %><br>
    <%= f.text_area :pre_work%>
  </div>

  <div class="actions">
    <%= f.submit class: 'button'%>
  </div>
<% end %>

