<p>
 Location: <%= @classroom.location %><br>
</p>

<p>
  Room name: <%= @classroom.name %><br>
</p>

All bookings: <% @classroom.bookings.each do |booking| %>
<br>
Start date: <%= booking.start_date %>
<br>
End date: <%= booking.end_date %>

<%= booking.cohort.try :name %>

  <% end %>





<%= link_to 'Back', classrooms_path %>

<br>





