<p>
  <%= @classroom.name %><br>
</p>
<p>
  <%= @classroom.location %><br>
</p>
<p>
  <% @classroom.bookings.each do |booking| %>
  <%= booking.start_date %> 
</p>

<%= link_to 'Edit', edit_classroom_path(@classroom) %> |
<%= link_to 'Back', classrooms_path %>



<% end %>

