<h1><%= @classroom.name %></h1>
<h1><%= @classroom.location %></h1>

<table>
  <tr>
    <th>Start date</th>
    <th>End date</th>
    <th>Cohort Name</th>
  </tr>

<h>Classrooms</h3>
  <tr>
    <% @classroom.bookings.each do |booking| %>
      <td><%= booking.start_date %></td>
      <td><%= booking.end_date %></td>
      <td><%= booking.cohort.try :name %></td>
    <% end %>
  </tr>
</table>

<%= link_to 'Back', classrooms_path, class: 'button'  %>

<%= link_to 'Book this room', new_classroom_booking_path(@classroom), class: 'button' %>