<p>
 Location: <%= @classroom.location %><br>
</p>
<p>
Room name: <%= @classroom.name %><br>
</p>
<p>
  Current bookings: <% @classroom.bookings.each do |booking| %>
  <%= booking.start_date %> 
</p>
<% end %>
<br><br>

<%= link_to 'Edit', edit_classroom_path(@classroom) %> |
<%= link_to 'Back', classrooms_path %>









